// ### Look and feel de la web (características propias; colores, fuentes, etc.) ###

:root{
    --first-font    : 'Poppins', sans-serif;
    --first-color   : #FE9D24;
    --second-color  : #0D66D0;
}

$first-color : #FE9D24;
$second-color: #0D66D0;

.first-color{
    --color : var(--first-color);
}
.second-color{
    --color : var(--second-color);
}