.app-header{
    background-color: #fff;
    &__bar-top{
        padding: 7px 0;
        border-bottom: 1px solid #f6f6f6;
        &-email{
            padding-right: 1.5em;
            border-right: 1px solid darken(#f6f6f6, 10%);
            .is-icon{
                color: var(--color);
                font-size: 1.1rem;
                margin-right: .2em;
            }
        }
        &-lang{
            margin-left: 1.5em;
            cursor: pointer;
            .is-icon{
                font-size: 1.1rem;
                margin-left: .2em;
            }
        }
    }
}

.social-links{
    &__item{
        list-style: none;
        margin-right: 8px;
    }
    &__link{
        text-decoration: none;
    }
    & .is-icon{
        display: inline-block;
        font-size: 1.2em;
        background-color: var(--color);
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 27px;
    }
}
